# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Models & large files
*.h5
*.pkl
*.pth
*.pt
*.zip
*.tar.gz

# Data
*.csv
data/
datasets/

# VS Code
.vscode/

# macOS
.DS_Store

